body {
    background-image: url(background.jpg);
    margin: 0;
    padding: 0;
  }
  
  header {
    height:50px;
    background-color:#f0c8d7;
    text-align: center;
    padding: 20px;
  }
    .logo {
        float: left;
        width: 6%;
        height:6%;
    position: absolute;
    bottom: 97%;
      }
  
  nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    color:#c74970;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
  }
  
  main {
    text-align: center;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    width: 60%;
    margin-left: 25%;

  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 10px;
  }
  #content1{
    border-radius: 30%;
  }
  
  .content img {
    margin-right: 20px;
    width: 750px;
border-radius: 30%;
  }
  
  
  footer {
    background-color:#f0c8d7;
    text-align: center;
    font-size: 18;
    padding: 20px;
    color:#c74970;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
button{
  background-color: #c74970;
  color: #f0c8d7;
  border-color: #f0c8d7;
}